In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("DataSet/house.csv")

In [3]:
df1 = df

In [4]:
filter1 = df.loc[df["Rooms"] == 3]
filter1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
7,Airport West,1/26 Highridge Cr,3,h,715000.0,SP,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63017,Preston,229 Murray Rd,3,h,808000.0,S,RW,31/03/2018,3072,Northern Metropolitan,14577,8.4,Darebin City Council
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council

In [5]:
filter1 = df.loc[(df["Rooms"] == 3) & (df['Type'] == 'h')]
filter1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
7,Airport West,1/26 Highridge Cr,3,h,715000.0,SP,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63011,Doveton,12 Scarlet Dr,3,h,595000.0,PI,REMAX,31/03/2018,3177,South-Eastern Metropolitan,3533,28.8,Casey City Council
63017,Preston,229 Murray Rd,3,h,808000.0,S,RW,31/03/2018,3072,Northern Metropolitan,14577,8.4,Darebin City Council
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

In [6]:
filter1 = df.loc[(df["Rooms"] == 3) & (df['Type'] == 'h') & (df['Price'] <= 500000)]
filter1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
92,Broadmeadows,145 Graham St,3,h,457000.0,S,YPA,1/04/2017,3047,Northern Metropolitan,4294,14.0,Hume City Council
170,Craigieburn,7A Amstel St,3,h,356500.0,S,Jason,1/04/2017,3064,Northern Metropolitan,15510,20.6,Hume City Council
177,Cranbourne North,22 Horsfield St,3,h,475000.0,S,LJ,1/04/2017,3977,South-Eastern Metropolitan,6464,34.7,Casey City Council
183,Dallas,31 Phillip St,3,h,455500.0,S,Barry,1/04/2017,3047,Northern Metropolitan,2246,14.0,Hume City Council
192,Delahey,1/25 Yeats Dr,3,h,335000.0,S,Ray,1/04/2017,3037,Western Metropolitan,2898,18.0,Brimbank City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62977,Werribee,4 Mekong Cl,3,h,420000.0,S,Barry,30/12/2017,3030,Western Metropolitan,16166,14.7,Wyndham City Council
62997,Wyndham Vale,5 Chatswood Pl,3,h,410000.0,S,hockingstuart,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
62998,Wyndham Vale,21 Mermaid Cr,3,h,400000.0,SP,Barry,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63000,Wyndham Vale,8 Opala Ct,3,h,416000.0,S,Sweeney,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

In [7]:
filter2 = df.loc[df['Address'].str.contains('turner St|turner Rd', flags=re.I)]
filter2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2859,Malvern East,24 Turner St,6,h,4700000.0,S,RT,3/03/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
4723,Highett,48 Turner Rd,2,h,832000.0,S,Buxton,3/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
4987,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
7501,Highett,28 Turner Rd,3,h,NaN,PI,Nick,4/08/2018,3190,Southern Metropolitan,4794,16.0,Bayside City Council
9647,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/08/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
9648,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/08/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
14012,Berwick,4 Turner St,5,h,536000.0,S,O'Brien,8/04/2017,3806,Eastern Victoria,17093,35.2,Casey City Council
14745,Westmeadows,16 Turner St,3,h,NaN,SN,Stockdale,8/04/2017,3049,Northern Metropolitan,2474,16.5,Hume City Council
18960,Moonee Ponds,3/16 Turner St,2,u,550000.0,VB,Woodards,10/09/2016,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
19148,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
19609,Highett,2/20 Turner Rd,2,u,730000.0,SP,Buxton,10/12/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council
20043,Westmeadows,14 Turner St,3,h,586000.0,S,Stockdale,10/12/2016,3049,Northern Metropolitan,2474,16.5,Hume City Council
20717,Langwarrin,49 Turner Rd,4,h,NaN,PI,UFirst,11/08/2018,3910,Eastern Victoria,8743,41.0,Frankston City Council
25081,Moonee Ponds,15/3 Turner St,3,t,732000.0,S,Nelson,13/10/2018,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
26305,Abbotsford,2 Turner St,3,h,1620000.0,S,Biggin,14/07/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council
29650,Briar Hill,10 Turner St,2,h,812000.0,S,Darren,16/06/2018,3088,Eastern Metropolitan,1390,16.1,Banyule City Council
36217,Westmeadows,25 Turner St,4,h,685000.0,S,Jason,18/06/2016,3049,Northern Metropolitan,2474,16.5,Hume City Council
39873,Highett,3/6 Turner Rd,3,u,NaN,PI,Buxton,20/05/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
41985,Highett,1/6 Turner Rd,4,h,921000.0,S,Buxton,22/04/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
42537,Malvern East,16 Turner St,4,h,NaN,S,Marshall,22/05/2016,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
45597,Highett,3/15 Turner Rd,2,u,770000.0,S,McGrath,23/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
47333,Malvern East,27 Turner St,2,h,1040000.0,S,Jellis,24/02/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
47843,Berwick,6 Turner St,4,h,1400000.0,VB,Peake,24/03/2018,3806,Eastern Victoria,17093,35.2,Casey City Council
49480,Abbotsford,31 Turner St,4,h,1542000.0,S,Collins,24/09/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
49890,Moonee Ponds,4/6 Turner St,2,u,600000.0,S,Woodards,24/09/2016,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
50254,Briar Hill,7 Turner St,4,h,1100000.0,S,Jellis,25/02/2017,3088,Eastern Metropolitan,1390,16.1,Banyule City Council
51364,Malvern East,29 Turner St,2,h,1010000.0,SP,Jellis,25/08/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
53753,Highett,2/4 Turner Rd,2,u,680500.0,S,Ray,26/08/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
57940,Abbotsford,210/125 Turner St,2,u,760000.0,S,Nelson,28/07/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council
57978,Berwick,5 Turner St,4,h,940000.0,SP,Ray,28/07/2018,3806,Eastern Victoria,17093,35.2,Casey City Council
58707,Highett,22 Turner Rd,3,h,1150000.0,SP,Buxton,28/08/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council

In [8]:
filter3 =  df.loc[df['Address'].str.contains('^59', flags=re.I) & (df['Price'] <= 500000)]
filter3

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
2220,Wallan,59 William St,3,h,424000.0,S,Ruralco,2/06/2018,3756,Northern Victoria,3988,44.2,Mitchell Shire Council
9096,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,6/01/2018,3429,Western Metropolitan,14092,31.7,Hume City Council
13089,Sunshine West,59 Felstead Av,3,h,465000.0,S,Bells,7/11/2016,3020,Western Metropolitan,6763,10.5,Brimbank City Council
13840,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,8/01/2018,3429,Western Metropolitan,14092,31.7,Hume City Council
19616,Hoppers Crossing,59 Aitken Av,3,h,421600.0,SP,Barry,10/12/2016,3029,Western Metropolitan,13830,18.4,Wyndham City Council
19623,Hoppers Crossing,59 Mossfiel Dr,3,h,453000.0,S,Triwest,10/12/2016,3029,Western Metropolitan,13830,18.4,Wyndham City Council
30441,Thomastown,59 Darebin Dr,3,h,478500.0,S,hockingstuart,16/07/2016,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
31889,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,16/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council
46682,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,23/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council
62903,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,30/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council

In [9]:
filter4 =  df.loc[df['Address'].str.contains('^59', flags=re.I) | (df['Price'] <= 500000)]
filter4

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
21,Armadale,6/38 Wattletree Rd,1,u,355000.0,S,hockingstuart,1/04/2017,3143,Southern Metropolitan,4836,6.3,Stonnington City Council
75,Box Hill,12/20 Ashted Rd,2,u,420000.0,SP,Noel,1/04/2017,3128,Eastern Metropolitan,4605,10.9,Whitehorse City Council
77,Braybrook,30 Cremorne St,2,h,490000.0,S,Boran,1/04/2017,3019,Western Metropolitan,3589,8.6,Maribyrnong City Council
78,Braybrook,2/1 Hancock Cr,2,t,500000.0,SP,Jas,1/04/2017,3019,Western Metropolitan,3589,8.6,Maribyrnong City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63012,Frankston,5/33 Dandenong East Rd,2,u,375000.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63014,Frankston,1/34 Petrie St,2,u,345000.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63015,Frankston,3/34 Petrie St,2,u,340000.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63016,Frankston,4/34 Petrie St,2,u,347700.0,SP,Aquire,31/03/2018,3199,South-Eastern Metropolitan,17055,38.0,Frankston City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council

In [10]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [11]:
df.loc[df['SellerG'] == 'Nelson', 'SellerG'] = 'Ronald'
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Ronald,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Ronald,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [12]:
df.loc[df['SellerG'] == 'Ronald', 'Method'] = 'Pending'
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,Pending,Ronald,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,Pending,Ronald,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [13]:
df.loc[df['SellerG'] == 'Ronald', ['Method', 'Type']] = 'Pending'
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,Pending,1420000.0,Pending,Ronald,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,Pending,670000.0,Pending,Ronald,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [16]:
df1.groupby(["SellerG"]).sum().round().sort_values('Price', ascending=False)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47832.0
Ronald         13808  4.089097e+09  14489179       35455466   34410.0
Barry          22919  4.022899e+09  21405391       54662639  108662.0
Marshall        9437  3.337732e+09   8949613       22270034   20141.0
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.0
...              ...           ...       ...            ...       ...
Harcourts/YPA      3  0.000000e+00      3075           8279      16.0
Sahara             8  0.000000e+00      6058          23990      37.0
Royston            3  0.000000e+00      6362          15434       9.0
Hill               7  0.000000e+00      6359           5155      46.0
Living             4  0.000000e+00      3030          15542      15.0

[476 rows x 5 columns]

In [17]:
df1.groupby(["SellerG"]).mean().round().sort_values('Price', ascending=False)

,Rooms,Price,Postcode,Propertycount,Distance
SellerG,,,,,
For,4.0,3780000.0,3186.0,10579.0,10.0
Sotheby's,3.0,2706346.0,3124.0,8721.0,5.0
Weast,4.0,2360000.0,3156.0,7929.0,9.0
Buxton/Marshall,4.0,2218333.0,3145.0,4827.0,10.0
North,3.0,2200000.0,3103.0,5682.0,8.0
...,...,...,...,...,...
We,3.0,NaN,3174.0,11806.0,23.0
WeSell,4.0,NaN,3171.0,7412.0,21.0
hockingstuart/Cayzer,1.0,NaN,3181.0,7717.0,5.0
hockingstuart/HAR,4.0,NaN,3188.0,5454.0,14.0
hockingstuart/Purplebricks,3.0,NaN,3076.0,10926.0,20.0

In [19]:
df1.groupby(["SellerG"]).sum().round().sort_values('Rooms', ascending=False)

                      Rooms         Price  Postcode  Propertycount  Distance
SellerG
Barry                 22919  4.022899e+09  21405391       54662639  108662.0
Jellis                16948  5.301902e+09  17116422       42958979   47832.0
Ray                   14961  2.953669e+09  14329293       41191735   76239.0
Ronald                13808  4.089097e+09  14489179       35455466   34410.0
hockingstuart         12635  3.174822e+09  13571171       36291698   53918.0
...                     ...           ...       ...            ...       ...
Harcourts/Barry           2  0.000000e+00      3046           2651      11.0
Finders                   2  1.320000e+06      3000          17496       0.0
Batty                     2  4.450000e+05      3019           3589       9.0
Jamie                     1  3.250000e+05      3071           8870       7.0
hockingstuart/Cayzer      1  0.000000e+00      3181           7717       5.0

[476 rows x 5 columns]

In [20]:
df1.groupby(["SellerG"]).sum().round().sort_values('Price', ascending=False)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47832.0
Ronald         13808  4.089097e+09  14489179       35455466   34410.0
Barry          22919  4.022899e+09  21405391       54662639  108662.0
Marshall        9437  3.337732e+09   8949613       22270034   20141.0
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.0
...              ...           ...       ...            ...       ...
Harcourts/YPA      3  0.000000e+00      3075           8279      16.0
Sahara             8  0.000000e+00      6058          23990      37.0
Royston            3  0.000000e+00      6362          15434       9.0
Hill               7  0.000000e+00      6359           5155      46.0
Living             4  0.000000e+00      3030          15542      15.0

[476 rows x 5 columns]